@page "/contacts/create"
@using ContactMe.Client.Components.UI.Contacts
@using ContactMe.Client.Helpers
@using ContactMe.Client.Services.Interfaces
@attribute [Authorize]
@rendermode InteractiveAuto
@inject IContactDTOService ContactService
@inject NavigationManager Nav

<PageTitle>ContactMe | New Contact</PageTitle>

<div class="p-3 my-5 border border-2 shadow-lg bg-light">
    <ContactForm Contact="new ContactDTO()" OnSubmit="HandleSubmit" /> 
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }


    private async Task HandleSubmit(ContactDTO contact)
    {
        UserInfo? userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);

        if (userInfo is not null)
        {
            await ContactService.CreateContactAsync(contact, userInfo.UserId);
            Nav.NavigateTo("contacts");
        }
    }
}
