@page "/contacts/create"
@using ContactMe.Client.Components.UI.Contacts
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>ContactMe | New Contact</PageTitle>

<div class="p-3 my-5 border border-2 shadow-lg bg-light">
    <ContactForm Contact="new ContactDTO()" /> 
</div>

@code {

}
