@page "/contacts"

@using ContactMe.Client.Components.UI.Contacts
@using ContactMe.Client.Helpers
@using ContactMe.Client.Services.Interfaces

@attribute [Authorize]
@rendermode InteractiveServer

@inject IContactDTOService ContactService

<PageTitle>ContactMe | Contacts</PageTitle>

<div class="d-flex align-items-center mt-3">
    <h1>All Contacts</h1>
    <a href="contacts/create" class="ms-auto btn btn-primary rounded-pill">New Contact</a>

</div>

<div class="row g-3">
    <div class="col-12 col-lg-4">
        <div class="sideNav mb-3">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" />
                    <button class="btn btn-primary">Search</button>
                </div>
            </form>
            <div class="mt-5">
                <label class="form-label">Category Filter</label>
                <select class="form-select">
                    <option value="">All Contacts</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-8">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
            @if (contacts.Any())
            {
                @foreach (ContactDTO contact in contacts)
                {
                    <div class="col" @key="contact.Id">
                        <ContactCard Contact="contact" />
                    </div>
                }
            }
            else
            {
                <div class="text-center sideNav">
                    <h4>No contacts found!</h4>
                    <p>
                        Why don't you <a href="contacts/create">create some</a>?
                    </p>
                </div>
            }
        </div>
    </div>
</div>

@code {
    #region parameters
    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }
    #endregion

    #region state
    private IEnumerable<ContactDTO> contacts = [];
    string errorMessage = string.Empty;
    #endregion

    #region methods
    protected override async Task OnInitializedAsync()
    {
        try
        {
            // get the userId from the auth state
            UserInfo? userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);
            // get the list of contacts from the DB
            contacts = await ContactService.GetContactsAsync(userInfo!.UserId);

            errorMessage = string.Empty;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            errorMessage = "Could not load your contacts. Please try again later.";
        }
    }
    #endregion
}
