<div class="accordion" id="@accordionId">
    @foreach(CategoryDTO category in Categories)
    {
        <CategoryAccordionItem @key="category.Id" AccordionId="@accordionId" Category="category" />
    }
</div>

@code {
    #region parameters
    [Parameter, EditorRequired]
    public IEnumerable<CategoryDTO> Categories { get; set; } = [];
    #endregion

    #region state
    private string accordionId = Guid.NewGuid().ToString();
    #endregion

    #region methods
    #endregion
}
