@page "/"

<PageTitle>Home</PageTitle>
<div class="container d-flex justify-content-center align-items-center h-100">
        <div class="row g-3">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <img src="images/Full_Logo.svg" />
            </div>
            <div class="col-6">
                <a href="Account/Login" class="w-100 btn btn-lg btn-primary">Log in</a>
            </div>
            <div class="col-6">
                <a href="Account/Register" class="w-100 btn btn-lg btn-outline-primary">Register</a>
            </div>
        </div>
</div>
