@page "/"

<PageTitle>Home</PageTitle>

<div class="container-xxl py-3 mt-5">
    <div class="row h-100 align-items-center row-cols-1 row-cols-md-2">
        <div class="col">
            <h1 class="display-5 fw-bold mt-2 mt-md-0"><em>Keep your <span class="text-primary">Contacts</span> in one location</em></h1>
            <p class="lead mt-2">
                Organize your social and work life by keeping everyone up to date. 
                Experience the power of
                ContactMe - and demo it now!
            </p>
            <div>
                <h4 class="mt-5 fw-bold">Built using this tech:</h4>
                <div class="hstack gap-2">
                    <i class="devicon-dotnetcore-plain colored devicons"></i>
                    <i class="devicon-csharp-plain colored devicons"></i>
                    <i class="devicon-blazor-original colored devicons"></i>
                    <i class="devicon-postgresql-plain colored devicons"></i>
                    <i class="devicon-bootstrap-plain colored devicons"></i>
                </div>
            </div>
        </div>
        <div class="col text-center order-first order-md-last">
            <img src="images/HomeImg.svg" class="img-fluid" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <a href="Account/Login" class="btn btn-primary rounded-pill btn-lg">Try it out!</a>
        </div>
    </div>
</div>
