@page "/"

<PageTitle>Home</PageTitle>
<div class="container d-flex justify-content-center align-items-center h-100">
        <div class="row g-3">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <img src="images/Full_Logo.svg" />
            </div>
        </div>
</div>
