@if (Todo is not null)
{
    <div class="hstack gap-2 align-items-center">
        <div>
            <InputCheckbox @bind-Value="Todo.IsComplete" @bind-Value:after="UpdateTodo" class="form-check-input" />
        </div>
        <div class="flex-grow-1 @( Todo.IsComplete ? "text-decoration-line-through" : "" )">
            @Todo.Name
        </div>
        <div>
            <a href="tasker/edit/@Todo.Id" class="btn btn-secondary btn-sm">
                <i class="bi bi-pencil"></i>
            </a>
            <button class="btn btn-danger btn-sm" @onclick="DeleteTodo">
                <i class="bi bi-trash3-fill"></i>
            </button>
        </div>
    </div>
}

@code {

    [Parameter, EditorRequired]
    public TaskerItemDTO? Todo { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<TaskerItemDTO> OnDelete { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<TaskerItemDTO> OnUpdate { get; set; }

    private async Task DeleteTodo()
    {
        await OnDelete.InvokeAsync(Todo);
    }

    private async Task UpdateTodo()
    {
        await OnUpdate.InvokeAsync(Todo);
    }
}
